@page "/groceryStore"
<PageTitle>Welcome to JP's Grocery Store</PageTitle>
@inject IGroceryIsleService GroceryService;
<div hidden="@hideOnPage">
    <h3>Add Food Item to an isle</h3>
    <br />

    <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" placeholder="Add Food Item to Isle" @bind="newFoodItm" >
        </div>
        <div class="form-group col-md-4">
           <select id="inputState" class="form-control" @bind="@selectedIsle">
                @foreach (var isle in groceryIsles)
                {
                   <option value=@isle.isleId>@isle.isleNum</option>
                }
          </select>
        </div>
        <div class="form-group col-md-2">
         <button class="btn btn-success" @onclick="addFoodItemToIsle">Add Food Item</button>
        </div>
    </div>
    
    
    <br />

    <ul class="list-group">
        @foreach (var isle in groceryIsles)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center active">
                @isle.isleName  
                <span class="badge badge-primary badge-light" title="Isle Number">Isle#: @isle.isleNum</span>
            </li>
            <ul class="list-group">
                @foreach (var foodItem in @isle.foodlist)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        @foodItem.foodName

                         <span class="badge badge-primary badge-pill" title="Quantity">
                            <button class="btn-remove-native-style" @onclick="()=>decrementFoodCount(isle.isleId,foodItem.foodId)">&minus;</button>
                             <span>@foodItem.foodQuantity</span>
                             <button class="btn-remove-native-style" @onclick="()=>incrementFoodCount(isle.isleId,foodItem.foodId)">&plus;</button>
                         </span>
                    </li>
                }
            </ul>
        }
    </ul>
    
</div>


@code {

    [Parameter]
    public string hideOnPage { get; set; }

    private List<GroceryIsle> groceryIsles;
    private string? newFoodItm;
    private Guid selectedIsle;


    protected override void OnInitialized()
    {
        groceryIsles = GroceryService.GetGroceryIsles();
    }

    private void decrementFoodCount(Guid iselID, Guid foodID)
    {
        GroceryService.UpdateFoodQuantitye(iselID, foodID, false);
    }

    private void incrementFoodCount(Guid iselID, Guid foodID)
    {
        GroceryService.UpdateFoodQuantitye(iselID, foodID, true);
    }

    private void addFoodItemToIsle()
    {
        if (!string.IsNullOrWhiteSpace(newFoodItm) && selectedIsle != Guid.Empty)
        {
            GroceryService.AddFoodItemToIsle(selectedIsle, newFoodItm);
            newFoodItm = "";
            selectedIsle = Guid.Empty;
        }
    }
}
